*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

:root {
  /* colors */
  --primary-100: #e2e0ff;
  --primary-200: #c1beff;
  --primary-300: #a29dff;
  --primary-400: #837dff;
  --primary-500: #645cff;
  --primary-600: #504acc;
  --primary-700: #3c3799;
  --primary-800: #282566;
  --primary-900: #141233;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --black: #000;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #006134;

  /* fonts  */
  --headingFont: 'Roboto', sans-serif;
  --smallText: 0.7em;
  /* rest of the vars */
  --backgroundColor: #fafcf8;
  --textColor: var(--black);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  background: var(--backgroundColor);
  font-family: Verdana;
  font-weight: 400;
  line-height: 1.5;
  color: var(--textColor);
}

p {
  margin-top: 0;
  margin-bottom: 1.5rem;
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
}
h1 {
  margin-top: 0;
  font-size: 3.052rem;
}
h2 {
  font-size: 2.441rem;
}
h3 {
  font-size: 1.953rem;
}
h4 {
  font-size: 1.563rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 1;
}

small,
.text-small {
  font-size: var(--smallText);
}

a {
  text-decoration: none;
  color: var(--primary-600);
  transition: var(--transition);
}
ul {
  list-style-type: disc;
  margin-top: 0.5rem;
}
ol {
  margin-top: 0.5rem;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* buttons */
.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--green-dark);
  border: transparent;
  border-radius: var(--borderRadius);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transtion);
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}
.btn-hipster {
  color: var(--primary-500);
  background: var(--primary-200);
}
.btn-hipster:hover {
  color: var(--primary-200);
  background: var(--primary-700);
}
.btn-block {
  width: 100%;
}

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
}
.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}
.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}

/* alert */

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spinner 0.6s linear infinite;
}
.loading {
  margin: 0 auto;
}
/* title */

.title {
  text-align: center;
}

.title-underline {
  background: var(--primary-500);
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
  margin-top: -1rem;
}

/*
=============== 
Navbar
===============
*/

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
}
.nav-center {
  width: 90vw;
  max-width: var(--max-width);
}
.nav-header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-header img {
  width: 50px;
}
.nav-logo {
  display: flex;
  align-items: flex-end;
}
.nav-btn {
  padding: 0.15rem 0.75rem;
}
.nav-btn i {
  font-size: 1.25rem;
}
.nav-links {
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: var(--transition);
}
.show-links {
  height: 20rem;
}
.nav-link {
  display: block;
  text-align: center;
  font-size: 1.25rem;
  text-transform: capitalize;
  color: var(--white);
  padding: 1rem 0;
  border-top: 1px solid var(--black);
  transition: var(--transition);
}
.nav-link:hover {
  color: var(--primary-400);
}
.contact-link a {
  padding: 0.15rem 1rem;
  transition: var(--transition);
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
/* TODO: test and make clickable*/
.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (min-width: 600px) {
  .navbar {
    height: 4rem;
  }
  .nav-center {
    display: flex;
    align-items: center;
  }
  .nav-header {
    padding: 0;
    margin-right: 2rem;
    height: auto;
  }
  .nav-btn {
    display: none;
  }
  .nav-links {
    height: auto !important;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  .nav-link {
    padding: 0;
    border-top: none;
    margin-right: 1rem;
    font-size: 1rem;
  }
  .contact-link {
    margin-right: 0;
    margin-left: auto;
  }
}

/*
=============== 
Page
===============
*/

.page {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
}
.page {
  padding-top: 2rem;
  min-height: calc(100vh - (4rem + 4rem));
}

/*
=============== 
Footer
===============
*/

.page-footer {
  text-align: center;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--black);
  color: var(--white);
}
.page-footer p {
  margin-bottom: 0;
}

/*
=============== 
Hero
===============
*/

.hero {
  height: 72vh;
  position: relative;
  margin-bottom: 2rem;
  background: url('../assets/me.jpg') center/cover no-repeat;
  border-radius: var(--borderRadius);
}
.hero-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  border-radius: var(--borderRadius);
}
.hero-text {
  color: var(--white);
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .hero-text h1 {
    font-size: 4rem;
    margin-bottom: 0;
  }
}

/*
=============== 
Error
===============
*/

.error-page {
  text-align: center;
  padding-top: 5rem;
}
.error-page h1 {
  font-size: 9rem;
}

/*
==================== 
About & Contact Page
====================
*/

.about-page h3 {
  text-transform: none;
  font-weight: bold;
}
.about-page {
  display: grid;
  gap: 2rem 4rem;
  padding-bottom: 3rem;
}
.te-logo {
  height: 1.25rem;
  transition: var(--transition);
}
.te-logo:hover {
  transform: scale(0.9);
}
.banner {
  border-radius: var(--borderRadius);
  height: 10rem;
}
.social-icon i {
  font-size: 28px;
  padding: 5px;
  transition: var(--transition);
}
.social-icon i:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}
@media screen and (min-width: 992px) {
  .about-page {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px;
    align-items: center;
  }
  .about-img {
    height: 100%;
  }
}

/*
============================ 
Lists Page : Poems & Recipes 
============================
*/

.lists-page h3 {
  text-align: center;
}
.lists-page h3,
.lists-page h4,
.lists-page h5,
.lists-page h6 {
  font-family: Tahoma;
  font-weight: bold;
}
.lists-page div {
  border: 3px solid var(--green-dark);
  background-color: var(--grey-100);
  width: 500px;
  padding: 20px;
  margin: 20px;
}

#scrollbtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  font-size: 50px;
  border: none;
  color: var(--green-dark);
  background-color: var(--backgroundColor);
  cursor: pointer;
  border-radius: 50%;
}
#scrollbtn:hover {
  color: var(--black);
}

/* Poems Page */
.author {
  font-style: italic;
  text-align: right;
}

/* Recipes Page */
.ingredients {
  font-family: Tahoma;
  font-weight: bold;
  color: var(--grey-700);
}	
.optional {
  font-style: italic;
  font-size: 0.9rem;
}

/*
================
Family Tree Page 
================
*/

.tree ul li {
  border-left: 2px solid var(--green-dark);
  position: relative;
}

.tree ul {
	list-style-type: none;
	padding-bottom: 5px;
}

.tree ul li::before {
  content: '';
  position: absolute;
  top: 12px; left: 0px;
  border-bottom: 2px solid var(--black);    
  width: 14px;
}

.tree ul li:last-child {
  border-left:none;
}

.tree ul li:last-child::before {
  border-left: 2px solid var(--red-dark);
  height: 15px;
  margin-top:-13px;
}

.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.nocaret::before {	
  content: "\25B8";
  padding-left: 7px;
}

.nocaret::before, .caret::before {	
  color: black;
  display: inline-block;
  padding-right: 5px;
}

.caret::before {	
  content: "\25B6";
  padding-left: 5px;
}

.caret-down::before {
  content: "\25BC";
  color: black;
  display: inline-block;
}

.nested {
  display: none;
}

.active {
  display: block;
}
